.header {
    position: relative;
    @include pad {
        padding: $spacer * 1.125 0;
    }
    @include mobile {
        padding: $spacer * 1.125 0;
    }
    h1 {
        @include hide-text;
    }
}

.logo-img{
    width: 96px; 
    vertical-align: middle; 
}

.nav {
    width: 23.06%;
    &-link {
        padding: .25rem 0;
        border-bottom: 2px solid $secondary-light;
        &:hover {
            border-bottom: 2px solid $secondary;
        }
        &:active {
            border-bottom: 2px solid $secondary;
        }        
    }
}

.icon-gsocial {  // 可以再測試滾到最後面時可不可以隱藏
    position: fixed;
    top: 43%;
    right: 1rem;
    z-index: 50;
    &-item {
      height: 3rem;
      &:first-child {
        font-size: 2.75rem;
      }
    }
  }



