.btn {
    padding: .5rem 1rem;
    border-radius: 5px;
}

.btn-primary {
    color: $white;
    &:hover {
        color: $white;
    }
}

.btn-secondary {
    color: $white;
    &:hover, &:focus {
        color: $white;
    }
}

.btn-secondary-light {
    color: $secondary;
}

.btn-outline-secondary {
    &:hover, &:active {
        color: $white;
    }
    &:focus {
        box-shadow: none;
    }
}

.btn-light {
    background-color: $white;
    color: $neutral;
    border: 0;
}