// card-img-overlay in common
.card-img-overlay {
  padding: 1.5rem;
  top: unset;
}

// index - service section
.overlay-img {
  height: 100%;
  object-fit: cover;
}

.service .card {
  height: 420px;
  @include pad {
    height: 252px;
  }
  @include mobile {
    height: 420px;
  }

  &-title {
    @include pad {
      font-size: $font-size-base;
    }
  }
}

.service .card-img-overlay {
  @include pad {
      padding: 1rem;
  }
  @include mobile {
      padding: 1.5rem;
  }
}

// index - pricing section
.card-pricing {
  .card-img {
    height: 243px;
    object-fit: cover;
  }
  .card .row {
    --bs-gutter-x: 0;
  }
}

// course-intro
.course-list .card {
  height: 196px;
}

.course-intro-profile {
  .card {
    margin-top: 50px;
    height: 418px;
  }
  .card-img-top {
    width: 96px;
    position: absolute;
    top: -49px;
    left: 126px;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
  }
}


// surroundings
.surroundings-content {
  .card {
    height: 350px;
    @include pad {
      height: 210px;
    }
    @include mobile {
      height: 350px;
    }
  }
}

.recom {
  .card-img-top {
    height: 196px;
    object-fit: cover;
    @include pad {
      height: 160px;
    }
    @include mobile {
      height: 196px;
    }
  }
}