.subscribe-bar {
    max-width: 350px;

    input {
        padding-top: $spacer * .5;
        padding-bottom: $spacer * .5;
        padding-left: $spacer;
        border: 0;
        border-radius: 4px 0 0 4px;
        width: calc(100% - 72px);
        ::placeholder { // 看起來沒有效果
            font-size: $font-size-base * 1.25;
            color: $secondary;
        }
    }

    .btn {
        border-radius: 0 4px 4px 0;
    }
}